{% extends "base.html.twig" %}

{% block title %}{{ title }}{% endblock %}
{% block content %}
    {% if app.user.type == 2 %}
        {% set upscore = 2 %}
        {% set downscore = -2 %}
    {% else %}
        {% set upscore = 1 %}
        {% set downscore = -1 %}
    {% endif %}
    <div class="row">
        <div class="row">
            <div class="col-md-12">
                <ul class="timeline">
                    <li class="time-label">
                        <span class="bg-aqua">Today</span>
                    </li>
                    <li id="challenge_add">
                        <i class="fa fa-envelope bg-blue"></i>
                        <div class="timeline-item">
                            <h3 id="challenge_title" class="timeline-header editable" name="title" contenteditable="true" data-placeholder="Title goes here.."></h3>
                            <div id="challenge_content" class="timeline-body editable" name="content" contenteditable="true"  data-placeholder="Content goes here..">
                            </div>
                            <div class="timeline-footer">
                                <a class="btn btn-primary btn-sm" onclick="addChallenge()">Post</a>
                            </div>
                        </div>
                    </li>
                    {% if tDayChallenges is not empty %}
                        {% for challenge in tDayChallenges %}
                            <li>
                                <i class="fa fa-comments bg-blue"></i>
                                <div class="timeline-item" id="challenge_{{ challenge.id }}">
                                    <span class="time"><i class="fa fa-clock-o"></i> {{ challenge.createdTime|date("h:i") }}</span>
                                    <h3 class="timeline-header">{{ challenge.title }}</h3>
                                    <div class="timeline-body">
                                        {{ challenge.text }}
                                    </div>
                                    <hr/>
                                    <div class="timeline-body editable hidden" contenteditable="true" data-placeholder="Answer goes here..">
                                    </div>
                                    {% for answer in getTopAnswers(challenge) %}
                                        <div class="timeline-body">
                                            <div id="answer_{{ answer.id }}" class="box-comment">
                                                {{ answer.answer }}
                                                {% set voted = getVote(answer, app.user) %}
                                                {% set up = "default" %}
                                                {% set down = "default" %}
                                                {% if voted == 1 %}
                                                    {% set up = "primary" %}
                                                    {% set down = "default" %}
                                                {% elseif voted == -1 %}
                                                    {% set up = "default" %}
                                                    {% set down = "danger" %}
                                                {% endif %}
                                                <button class="btn btn-{{ down }} btn-xs pull-right downvote" onclick="vote({{ answer.id }}, {{ downscore }})"><i class="fa fa-thumbs-o-down"></i> Downvote</button>
                                                <button class="btn btn-{{ up }} btn-xs pull-right upvote" onclick="vote({{ answer.id }}, {{ upscore }})"><i class="fa fa-thumbs-o-up"></i> Upvote</button>
                                                <br><br>
                                                    <span class="username pull-right">
                                                        <i class="fa fa-user"></i> By {{ answer.user.username }}
                                                        <span class="text-muted pull-right">&nbsp;on {{ answer.createdAt|date("d M Y") }}</span>
                                                    </span>
                                                <br><br>
                                                    <span class="pull-right">
                                                        <i class="fa fa-cart-arrow-down"></i> {{ getScore(answer) }} points
                                                    </span>
                                            </div>
                                        </div>
                                        <hr/>
                                    {% endfor %}
                                    <div class="timeline-footer">
                                        <a class="btn btn-primary btn-xs" onclick="addAnswer($(this))">Add answer</a>
                                        {% if challenge.challengeAnswers is not empty %}
                                            <a class="btn btn-warning btn-xs" href="{{ path('view_answers', {'id': challenge.id}) }}">View answers</a>
                                        {% else %}
                                            <a id="view_answers" class="btn btn-warning btn-xs hidden" href="{{ path('view_answers', {'id': challenge.id}) }}">View answers</a>
                                        {% endif %}
                                        <span class="time pull-right"><i class="fa fa-user"></i> By {{ challenge.user.username }}</span>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    {% endif %}
                    {% for time, challenges in challengesByTime %}
                        <li class="time-label">
                            <span class="bg-green">{{ time }}</span>
                        </li>
                        {% for challenge in challenges %}
                            <li>
                                <i class="fa fa-comments bg-blue"></i>
                                <div class="timeline-item" id="challenge_{{ challenge.id }}">
                                    <span class="time"><i class="fa fa-clock-o"></i> {{ challenge.createdTime|date("h:i") }}</span>
                                    <h3 class="timeline-header">{{ challenge.title }}</h3>
                                    <div class="timeline-body">
                                        {{ challenge.text }}
                                    </div>
                                    <hr/>
                                    <div class="timeline-body editable hidden" contenteditable="true" data-placeholder="Answer goes here..">
                                    </div>
                                    <div class="timeline-footer">
                                        <a class="btn btn-primary btn-xs" onclick="addAnswer($(this))">Add answer</a>
                                        {% if challenge.challengeAnswers is not empty %}
                                            <a class="btn btn-warning btn-xs" href="{{ path('view_answers', {'id': challenge.id}) }}">View answers</a>
                                        {% else %}
                                            <a id="view_answers" class="btn btn-warning btn-xs hidden" href="{{ path('view_answers', {'id': challenge.id}) }}">View answers</a>
                                        {% endif %}
                                        <span class="time pull-right"><i class="fa fa-user"></i> By {{ challenge.user.username }}</span>
                                    </div>
                                    {% for answer in getTopAnswers(challenge) %}
                                        <div class="timeline-body">
                                            <div id="answer_{{ answer.id }}" class="box-comment">
                                                    {{ answer.answer }}
                                                    {% set voted = getVote(answer, app.user) %}
                                                    {% set up = "default" %}
                                                    {% set down = "default" %}
                                                    {% if voted == 1 %}
                                                        {% set up = "primary" %}
                                                        {% set down = "default" %}
                                                    {% elseif voted == -1 %}
                                                        {% set up = "default" %}
                                                        {% set down = "danger" %}
                                                    {% endif %}
                                                    <button class="btn btn-{{ down }} btn-xs pull-right downvote" onclick="vote({{ answer.id }}, {{ downscore }})"><i class="fa fa-thumbs-o-down"></i> Downvote</button>
                                                    <button class="btn btn-{{ up }} btn-xs pull-right upvote" onclick="vote({{ answer.id }}, {{ upscore }})"><i class="fa fa-thumbs-o-up"></i> Upvote</button>
                                                    <br><br>
                                                    <span class="username pull-right">
                                                        <i class="fa fa-user"></i> By {{ answer.user.username }}
                                                        <span class="text-muted pull-right">&nbsp;on {{ answer.createdAt|date("d M Y") }}</span>
                                                    </span>
                                                    <br><br>
                                                    <span class="pull-right">
                                                        <i class="fa fa-cart-arrow-down"></i> {{ getScore(answer) }} points
                                                    </span>
                                            </div>
                                        </div>
                                        <hr/>
                                    {% endfor %}
                                </div>
                            </li>
                        {% endfor %}
                    {% endfor %}
                    <li>
                        <i class="fa fa-clock-o bg-gray"></i>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    function vote(answer_id, vote)
    {
        $.ajax({
            url: "{{ path('vote_answer') }}",
            method: "POST",
            data: { answer_id: answer_id, score: vote },
            success: function(data) {
                if (data.error == false) {
                    var answer = $("#answer_"+answer_id);
                    var up_vote = answer.find(".upvote");
                    var down_vote = answer.find(".downvote");
                    if (vote == 1) {
                        up_vote.removeClass("btn-default");
                        up_vote.addClass("btn-primary");
                        if (down_vote.hasClass("btn-danger")) {
                            down_vote.removeClass("btn-danger");
                            down_vote.addClass("btn-default");
                        }
                    } else if (vote == -1) {
                        down_vote.removeClass("btn-default");
                        down_vote.addClass("btn-danger");
                        if (up_vote.hasClass("btn-primary")) {
                            up_vote.removeClass("btn-primary");
                            up_vote.addClass("btn-default");
                        }
                    }
                    window.location.href = "{{ path('home') }}";
                } else {
                    toastr["error"]("A aparut o eroare! Va rugam reincercati mai tarziu!", "Voteaza raspuns");
                }
            }
        });
    }

    function addChallenge()
    {
        var title, content;
        title = $("h3[name='title']").text();
        content = $("div[name='content']").text();

        if (title != "" && content != "") {
            $.ajax({
                url: "{{ path('add_challenge') }}",
                method: "POST",
                data: { title: title, content: content},
                success: function(data) {
                    var challenge = data["challenge"];
                    var li = $("<li>");
                    {
                        var i = $("<i>");
                        i.addClass("fa fa-comments bg-blue");
                        var div = $("<div>");
                        div.addClass("timeline-item");
                        {
                            var span = $("<span>");
                            span.addClass("time");
                            {
                                var i_time = $("<i>");
                                i_time.addClass("fa fa-clock-o");
                            }
                            span.append(i_time);
                            span.append(" "+challenge["created_at"]);

                            var h3 = $("<h3>");
                            h3.addClass("timeline-header");
                            h3.text(title);

                            var div_timeline = $("<div>");
                            div_timeline.addClass("timeline-body");
                            div_timeline.text(content);

                            var div_footer = $("<div>");
                            div_footer.addClass("timeline-footer");
                            {
                                var a = $("<a>");
                                a.addClass("btn btn-primary btn-xs");
                                a.text("Add answer");
                            }
                            div_footer.append(a);
                        }
                        div.append(span);
                        div.append(h3);
                        div.append(div_timeline);
                        div.append(div_footer);
                    }
                    li.append(i);
                    li.append(div);
                    $("li#challenge_add").after(li);
                    toastr["success"]("Provocarea a fost adaugata cu succes", "Adaugare provocare");
                    $("h3[name='title']").text("");
                    $("div[name='content']").text("");
                }
            });
        } else {
            bootbox.alert("Va rugam completati ambele campuri!");
        }
    }

    function addAnswer(obj)
    {
        var timeline = obj.parent().parent();
        var content = timeline.find(".timeline-body.editable");
        var challengeId = timeline.attr("id").split("_")[1];
        if (content.hasClass("hidden")) {
            content.removeClass("hidden");
            obj.removeClass("btn-primary").addClass("btn-success");
            obj.text("Submit");
        } else {
            if (content.text() != "") {
                $.ajax({
                    url: "{{ path('add_answer') }}",
                    method: "POST",
                    data: { challengeId: challengeId, answerContent: content.text() },
                    success: function(data) {
                        if (data["error"] == false) {
                            toastr["success"]("Raspunsul a fost adaugat cu succes", "Adaugare raspuns");
                            content.text("");
                            obj.removeClass("btn-success").addClass("btn-primary");
                            obj.text("Add answer");
                            timeline.find("#view_answers").removeClass("hidden");
                        } else {
                            toastr["error"]("A aparut o eroare", "Adaugare raspuns");
                        }
                    }
                });
            }
        }
    }

    $(document).ready(function(){
        $("[contenteditable]").each(function(){
            var $element = $(this);
            if ($element.html().length && !$element.text().trim().length) {
                $element.empty();
            }
        });
    });
{% endblock %}