{% extends "::base.html.twig" %}
{% block content %}
<div class="col-md-9">
    <!-- general form elements -->
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">{{ test.title }} - {{ categories[test.category] }}</h3>
            <p><small>{{ users[test.user.id] }}, {{ test.createdAt|date('Y-m-d') }}</small></p>
        </div>

    <div class="box-body">
        <table class="table ">
        {% for quest in questions %}
            <tr>
                <th>{{ loop.index }}. {{ quest.text }}</th>
            </tr>
            {% for ans,val in answers[quest.id] %}
                <tr>
                    {% if val == 1 %}
                        <td>&emsp;&emsp;<i class="fa fa-check-square-o" aria-hidden="true"></i> &emsp;{{ ans }};</td>
                    {% else %}
                        <td>&emsp;&emsp;<i class="fa fa-square-o" aria-hidden="true"></i> &emsp;{{ ans }};</td>
                    {% endif %}
                </tr>
            {% endfor %}
        {% endfor %}

        </table>
    </div>
    </div>
</div>
{% endblock %}