{% extends "::base.html.twig" %}
{% block content %}
    {% if app.session.flashbag.has('success') %}
        {{ toastr("success", "Test generat!", app.session.flashbag.get('success').0) }}
    {% endif %}
    {% if tests is not empty %}
        <table class="table table-hover category-table">
            {% for test in tests %}
                <tr>
                    <td><strong>{{ loop.index }}. {{ test.title }} - {{ categories[test.category] }} </strong><br>
                        <small>{{ users[test.user.id] }}, {{ test.createdAt|date('Y-m-d') }}</small>
                    </td>
                    {% if is_granted('ROLE_MASTER') or is_granted('ROLE_ADMIN') %}
                        <td><button onclick="showT({{ test.id }})" class="btn btn-primary">Vizualizeaza</button></td>
                        <td><button onclick="deleteT({{ test.category }}, {{ test.id }})" class="btn btn-warning">Sterge</button></td>
                    {% endif %}
                    {% if is_granted('ROLE_APPRENTICE') %}
                        <td><a class="btn btn-primary" href="{{ path('take_test', { 'tid': test.id }) }}">Rezolva</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <div>Nu exista teste.</div>
    {% endif %}
{% endblock %}
{% block javascript %}
    function showT(id){
    var red = "{{ path('test_show', {'tid':'testid' }) }}";
    red = red.replace('testid', id);
    window.location.href = red;
    }
    function deleteT(category, id) {
    bootbox.confirm("Sunteti sigur ca doriti sa stergeti testul?", function(result) {
    if (result == true) {
    var red = "{{ path('delete_test', {'cid': 'categ', 'id':'qid'}) }}";
    red = red.replace('categ', category);
    red = red.replace('qid', id);
    window.location.href = red;
    }
    });
    }
{% endblock %}