<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% if title is defined %}
        <title>{{ title }}</title>
    {% else %}
        <title>X-Challenge</title>
    {% endif %}
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    {% block stylesheets %}
        {% include 'AppBundle::stylesheet.html.twig' %}
        <link rel="stylesheet" type="text/css" media="screen" href="/bundles/app/css/style.css">
        <link rel="stylesheet" type="text/css" media="screen" href="/bundles/app/theme/dist/css/skins/skin-blue.css">
    {% endblock %}
    {% block javascripts %}
        {% include 'AppBundle::javascript.html.twig' %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
</head>
<body class="skin-blue layout-top-nav">
<div class="wrapper">
    <header class="main-header">
        <nav class="navbar navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href={{ path("home") }}><b>X</b>-Challenge</a>
                    <button data-target="#navbar-collapse" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                        <i class="fa fa-bars"></i>
                    </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div id="navbar-collapse" class="collapse navbar-collapse pull-left">
                    <ul class="nav navbar-nav">
                        <li><a href={{ path("category_list") }}>Categorii<span class="sr-only">(current)</span></a></li>
                        {% if is_granted('ROLE_MASTER') %}
                        <li><a href={{ path('all_question_list') }}>Intrebari</a></li>
                        {% endif %}
                        <li><a href="#">Teste</a></li>
                        <li><a href="#">Clasament</a></li>
                    </ul>
                    <form role="search" class="navbar-form navbar-left">
                        <div class="form-group">
                            <input type="text" placeholder="Search" id="navbar-search-input" class="form-control">
                        </div>
                    </form>
                </div>
                <!-- /.navbar-collapse -->
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Notifications Menu -->
                        <li class="dropdown notifications-menu">
                            <!-- Menu toggle button -->
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <i class="fa fa-bell-o"></i>
                                <span class="label label-warning">1</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">Ai o notificare</li>
                                <li>
                                    <!-- Inner Menu: contains the notifications -->
                                    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 200px;"><ul class="menu" style="overflow: hidden; width: 100%; height: 200px;">
                                            <li><!-- start notification -->
                                                <a href="#">
                                                    <i class="fa fa-child"></i>Luiza te-a provocat sa raspunzi la o provocare!
                                                </a>
                                            </li>
                                            <!-- end notification -->
                                        </ul><div class="slimScrollBar" style="background: rgb(0, 0, 0) none repeat scroll 0% 0%; width: 3px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px;"></div><div class="slimScrollRail" style="width: 3px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51) none repeat scroll 0% 0%; opacity: 0.2; z-index: 90; right: 1px;"></div></div>
                                </li>
                                <li class="footer"><a href="#">View all</a></li>
                            </ul>
                        </li>
                        <!-- User Account Menu -->
                        <li class="dropdown user user-menu">
                            <!-- Menu Toggle Button -->
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <!-- hidden-xs hides the username on small devices so only the image appears. -->
                                {% if app.user.username is defined %}
                                    {% if is_granted('ROLE_APPRENTICE')  %}
                                        <span class="hidden-xs">Apprentice {{ app.user.username }}</span>
                                    {% elseif is_granted('ROLE_MASTER') %}
                                        <span class="hidden-xs">Master {{ app.user.username }}</span>
                                    {% endif %}
                                {% endif %}
                            </a>
                                <!-- Menu Footer-->
                        <li><a href="#"><i class="fa fa-user"> </i> Profile</a></li>
                        <li><a href={{ path("security_logout") }}><i class="fa fa-sign-out"></i> Sign out</a></li>
                    </ul>
                </div>
                <!-- /.navbar-custom-menu -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </header>
    <!-- Full Width Column -->
    <div class="content-wrapper" style="min-height: 600px;">
        <div class="container">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    {% block title %}{{ title }}{% endblock %}
                </h1>
            </section>

            <!-- Main content -->
            <section class="content">
                {% block content %}
                {% endblock %}
            </section>
        </div>
        <!-- /.container -->
    </div>
</div>

<script type="text/javascript">
    {% block javascript %}
    {% endblock %}
</script>

</body>
</html>