{% extends "base.html.twig" %}

{% block title %}{{ title }}{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-widget">
                <div class="box-header with-border">
                    <div class="user-block">
                        <i class="fa fa-trophy" aria-hidden="true" style="font-size: 3.2em"></i>
                        <span class="username"><a href="#">{{ challenge.title }}</a></span>
                        <span class="description">By {{ challenge.user.username }} - {{ challenge.createdAt|date("d M Y") }}</span>
                    </div>
                </div>
                <div class="box-body" style="display: block;">
                    <p>{{ challenge.text }}</p>
                    <span class="pull-right text-muted">{{ challenge.challengeAnswers|length }} answers</span>
                </div>
                <div class="box-footer box-comments" style="display: block;">
                    {% for answer in challenge.challengeAnswers %}
                        <div id="answer_{{ answer.id }}" class="box-comment">
                            <div class="comment-text">
                                <span class="username">
                                    <i class="fa fa-user"></i>{{ answer.user.username }}
                                    <span class="text-muted pull-right">{{ answer.createdAt|date("d M Y") }}</span>
                                </span>
                                {{ answer.answer }}
                                {% set voted = getVote(answer, app.user) %}
                                {% set up = "default" %}
                                {% set down = "default" %}
                                {% if voted == 1 %}
                                    {% set up = "primary" %}
                                    {% set down = "default" %}
                                {% elseif voted == -1 %}
                                    {% set up = "default" %}
                                    {% set down = "danger" %}
                                {% endif %}
                                <button class="btn btn-{{ down }} btn-xs pull-right downvote" onclick="vote({{ answer.id }}, -1)"><i class="fa fa-thumbs-o-down"></i> Downvote</button>
                                <button class="btn btn-{{ up }} btn-xs pull-right upvote" onclick="vote({{ answer.id }}, 1)"><i class="fa fa-thumbs-o-up"></i> Upvote</button>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    function vote(answer_id, vote)
    {
        $.ajax({
            url: "{{ path('vote_answer') }}",
            method: "POST",
            data: { answer_id: answer_id, score: vote },
            success: function(data) {
                if (data.error == false) {
                    var answer = $("#answer_"+answer_id);
                    var up_vote = answer.find(".upvote");
                    var down_vote = answer.find(".downvote");
                    if (vote == 1) {
                        up_vote.removeClass("btn-default");
                        up_vote.addClass("btn-primary");
                        if (down_vote.hasClass("btn-danger")) {
                            down_vote.removeClass("btn-danger");
                            down_vote.addClass("btn-default");
                        }
                    } else if (vote == -1) {
                        down_vote.removeClass("btn-default");
                        down_vote.addClass("btn-danger");
                        if (up_vote.hasClass("btn-primary")) {
                            up_vote.removeClass("btn-primary");
                            up_vote.addClass("btn-default");
                        }
                    }
                } else {
                    toastr["error"]("A aparut o eroare! Va rugam reincercati mai tarziu!", "Voteaza raspuns");
                }
            }
        });
    }
{% endblock %}