{% extends "::base.html.twig" %}
{% block content %}
    {% if app.session.flashbag.has('success') %}
        {{ toastr("success", "Adaugare intrebare", app.session.flashbag.get('success').0) }}
    {% elseif app.session.flashbag.has('error') %}
        {{ toastr("error", "Adaugare intrebare", app.session.flashbag.get('error').0)  }}
    {% endif %}
    <a class="btn btn-primary pull-right" href="{{ path('question_edit', {'cid':category.id, 'id': -1}) }}">Adauga o intrebare</a>
    <table class="table table-hover category-table">
        {% for quest in questions %}
            <tr>
                <th>{{ loop.index }}. {{ quest.text }}</th>
                <td onclick="editQ({{ quest.category.id }}, {{ quest.id }})" class="btn btn-primary btn-table">Editeaza</td>
                <td onclick="deleteQ({{ quest.category.id }}, {{ quest.id }})" class="btn btn-primary btn-table">Sterge</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
{% block javascript %}
    function editQ(category, id) {
        var red = "{{ path('question_edit', {'cid': 'categ', 'id':'qid'}) }}";
        red = red.replace('categ', category);
        red = red.replace('qid', id);
        window.location.href = red;
    }
    function deleteQ(category, id) {
        bootbox.confirm("Sunteti sigur ca doriti sa stergeti intrebarea?", function(result) {
            if (result == true) {
                var red = "{{ path('delete_question', {'cid': 'categ', 'id':'qid'}) }}";
                red = red.replace('categ', category);
                red = red.replace('qid', id);
                window.location.href = red;
            }
        });
    }
{% endblock %}