{% extends "::base.html.twig" %}
{% block content %}
    {#<button class="btn btn-primary pull-right" formaction= {{ path('question_edit',{'cid':category.id}) }}>Adauga o intrebare</button>#}
    <table class="table table-hover category-table">
        {% for quest in questions %}
            <tr>
                <th>{{ loop.index }}. {{ quest.text }}</th>
                <td class="btn btn-primary btn-table"><a href={{ path('question_edit', {'cid':quest.category}, {'id': quest.id}) }}>Editeaza</a></td>
                <td class="btn btn-primary btn-table"><a href={{ path('delete_question', {'cid':quest.category}, {'id': quest.id}) }}>Sterge</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
