{% extends "::base.html.twig" %}
{% block content %}
    <table class="table table-hover category-table">
        {% for quest in questions %}
            <tr>
                <th>{{ loop.index }}. {{ quest.text }}</th>
                <td><button onclick= "editQ({{ quest.category.id }}, {{ quest.id }})"class="btn btn-primary">Editeaza</button></td>
                <td><button onclick= "deleteQ(-1,{{quest.id}})" class="btn btn-warning">Sterge</button></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
{% block javascript %}
        function editQ(category, id) {
            var red = "{{ path('question_edit', {'cid': 'categ', 'id':'qid'}) }}";
            red = red.replace('categ', category);
            red = red.replace('qid', id);
            window.location.href = red;
        }
        function deleteQ(category, id) {
            var red = "{{ path('delete_question', {'cid': 'categ', 'id':'qid'}) }}";
            red = red.replace('categ', category);
            red = red.replace('qid', id);
            window.location.href = red;
        }
{% endblock %}